.head{

    height: 120px;
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    
}


.pragraph{

    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: yellow;
}
.left{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13, 0, 100);
    color: aliceblue;
    padding-top: 5px;
    padding: 10px;
    
    float:left; width: 35%;height: 650px;
    
}

.all{

    background-color: rgb(255, 204, 0);
    float:left;width: 40%;height: 650px;
    padding-top: 5px;
    padding: 10px;
}
.sign{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: rgb(0, 0, 0);
}

.right{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13, 0, 100);
    color: aliceblue;
    padding-top: 5px;
    padding: 10px;
    
    float:left; width: 20%;height: 650px;
}
.footer{

    
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    padding-bottom: 80px;
}